<a routerLink="/default">
  <img class="logo" alt="Angular Logo" src="./../../../../../assets/logo.svg" />
</a>
<div class="search-group">
  <form action="">
    <mat-form-field class="example-form-field" appearance="fill">
      <input matInput type="search" [(ngModel)]="value" [ngModelOptions]="{ standalone: true }" />
      <button
        *ngIf="value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="resetQueryString()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <!-- <a routerLink="/user/bob" routerLinkActive #rla="routerLinkActive">
      Bob {{ rla.isActive ? '(already open)' : '' }}
    </a> -->
    <button (click)="getResult(value)" mat-flat-button color="primary" [disabled]="!isMain">
      Search
    </button>
  </form>
  <button class="settings" (click)="toggleFilters()" *ngIf="isSearching && isMain"></button>
</div>

<app-login-information></app-login-information>
